certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
numpy @ file:///C:/b/abs_datssh7cer/croot/numpy_and_numpy_base_1672336199388/work
pygame==2.1.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
wincertstore==0.2
